<div class="create-card">
    <div class="card-title">
      <h1>Añadir Usuario</h1>
    </div>
    <div class="forms-container">
      <form action="" method="post">
        <label for="nombre">Nombre</label><input
          name="nombre"
          type="text"
          placeholder="Nombre"
        />
        <label for="dni">DNI</label><input
          name="dni"
          type="text"
          placeholder="DNI"
        />
        <label for="direccion">Direccion</label>
        <input name="direccion" type="text" placeholder="Direccion" />

        <label for="telefono">Telefono</label>
        <input name="telefono" type="text" placeholder="Telefono" />

        <label for="correo">Correo</label>
        <input name="correo" type="text" placeholder="Correo" />

        <button style="margin-top: 10px;">enviar</button>

      </form>
    </div>

  </div>